<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head(${title})">
    <meta charset="UTF-8">
    <title>List Customers</title>
</head>
<body>
<div class="container mt-3">
    <div class="card">
        <div class="card-header">List Customers <a th:href="@{/customers/create}">Add New Customer</a></div>
        <div class="card-body">
            <th:block th:if="${message}">
                <div class="alert alert-success" th:text="${message}"></div>
            </th:block>
            <th:block th:if="${!customers.iterator().hasNext()}">
                <p class="alert alert-warning">No data</p>
            </th:block>
            <form th:action="@{/customers}" class="row row-cols-lg-auto g-3 align-items-center mb-3">
                <div class="col-12">
                    <label class="visually-hidden" for="inlineFormInputGroupName">Search by Name</label>
                    <div class="input-group">
                        <div class="input-group-text">Search by Name</div>
                        <input name="s" type="text" th:value="${search.isPresent()} ? ${search.get()} : ''" class="form-control" id="inlineFormInputGroupName" placeholder="Enter name...">
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <table class="table table-bordered" th:if="${customers.iterator().hasNext()}">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Province</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c: ${customers}">
                    <td th:text="*{c.id}"></td>
                    <td th:text="*{c.name}"></td>
                    <td th:text="*{c.email}"></td>
                    <td th:text="*{c.address}"></td>
                    <td th:text="*{c.province.name}"></td>
                    <td>
                        <a th:href="@{/customers/edit/{id}(id=${c.id})}" class="btn btn-info btn-sm text-white">Edit</a>
                        <a th:href="@{/customers/delete/{id}(id=${c.id})}" class="btn btn-danger btn-lg">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <th:block th:if="${search.isPresent()}">
                        
                    </th:block>
                    <li class="page-item"><a class="page-link" th:href="@{'/customers'(page=${customers.number - 1})}"
                                             th:if="${customers.hasPrevious()}">Previous</a></li>
                    <li class="page-item disabled">
                        <span class="page-link" th:text="${customers.number + 1} + '/' + ${customers.totalPages}"></span>
                    </li>
                    <li class="page-item"><a class="page-link" th:href="@{'/customers'(page=${customers.number + 1})}"
                                             th:if="${customers.hasNext()}">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>
